// Colors
$white: #fff;
$blue: #2a77ff;
$red: #ff391b;

// Z-index
$z-index-header: 1000;
$z-index-subnav: 1002;
$z-index-subsubnav: 1003;
$z-index-nav-adaptiv: 1003;
$z-index-burger: 1004;

// Width
$width-menu-burger: 35rem;

// Media
$media-for-pc: 1440px;
$media-for-tablet: 1024px;
$media-for-big-phone: 768px;
$media-for-phone: 576px;
$media-for-small-phone: 320px;
