.benefits {
	margin-bottom: 5rem;
	position: relative;

	//Media
	@media (max-width: $media-for-big-phone) {
		& {
			margin-bottom: 0;
		}
	}
}

.benefits__title {
	font-size: 4.8rem;
	font-weight: 800;
	text-align: center;
	color: #333;

	&:after {
		content: "";
		display: block;
		width: 18rem;
		height: 0.1rem;
		margin: 4rem auto;

		background-color: $blue;
	}

	//Media
	@media (max-width: $media-for-phone) {
		& {
			font-size: 3.2rem;
		}
	}
}

.benefits__inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.benefits__col {
	width: 48.7%;

	.benefits__item {
		&:last-child {
			margin-bottom: 0;
		}
	}

	&--second {
		margin-top: 8rem;
	}

	//Media
	@media (max-width: $media-for-tablet) {
		& {
			width: 100%;
		}
	}

	@media (max-width: $media-for-phone) {
		&--second {
			margin-top: 4rem;
		}
	}
}

.benefits__item {
	display: flex;
	align-items: center;
	margin-bottom: 8rem;

	//Media
	@media (max-width: $media-for-tablet) {
		& {
			max-width: 60rem;
			margin: 0 auto 8rem;
		}
	}

	@media (max-width: $media-for-phone) {
		& {
			margin-bottom: 4rem;
		}
	}
}

.benefits__icon {
	margin-right: 3rem;

	//Media
	@media (max-width: $media-for-pc) {
		& {
			margin-right: 2rem;

			img {
				width: 14rem;
				height: auto;
			}
		}
	}

	@media (max-width: $media-for-phone) {
		& {
			img {
				width: 7rem;
				height: auto;
			}
		}
	}

	@media (max-width: $media-for-small-phone) {
		& {
			display: none;
		}
	}
}

.benefits__subtitle {
	margin-bottom: 1.3rem;

	font-size: 1.8rem;
	font-weight: 700;
	color: #333;

	//Media
	@media (max-width: $media-for-pc) {
		& {
			font-size: 1.6rem;
		}
	}

	@media (max-width: $media-for-phone) {
		& {
			font-size: 1.5rem;
		}
	}
}

.benefits__text {
	color: #666;
	line-height: 1.5;
	font-size: 1.4rem;

	// Media
	@media (max-width: $media-for-phone) {
		& {
			font-size: 1.3rem;
		}
	}
}

.benefits__piece {
	position: absolute;
	bottom: 16rem;
	left: 0;
	z-index: 2;

	//Media
	@media (max-width: $media-for-pc) {
		& {
			display: none;
		}
	}
}
